/* text-styling */

* {
    font-family: 'Barlow', sans-serif;
    color: var(--color-font);
    text-align: center;
}

h1, h2, h3 {
    font-weight: 500;
}

h1 {
    font-size: 40px;
    margin-top: 80px;
    margin-bottom: 24px;
}

h2, h3 {
    font-size: 32px;
    margin: 8px 0;
}

h3 {
    justify-self: center;
    padding: 8px 24px;
    width: fit-content;
}

ul {
    list-style-type: none;
}

.border-big {
    background-color: var(--color-dark);
    border: 1px solid var(--color-light);
    border-radius: var(--border-radius-big);
    filter: drop-shadow(var(--shadow));
}

/* body */

body {
    background-color: var(--color-dark);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* header and footer */

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 60px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header > div {
    align-items: center;
    display: flex;
    gap: 8px;
}

header > div > img,
footer > a > img {
    padding: 8px 0;
    width: 24px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

footer > a {
    line-height: 1;
}

/* main */

main {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.container-pokemon-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.pokemon-card {
    background-color: var(--color-dark);
    border: 1px solid var(--color-light);
    border-radius: var(--border-radius-small);
    padding: 8px;
    aspect-ratio: 4 / 3;
    width: 250px;
}

.pokemon-card > div > img {
    border-radius: var(--border-radius-small);
    padding: 16px;
    width: 100%;
    cursor: pointer;
}

.span-type {
    color: var(--color-dark);
    border-radius: var(--border-radius-small);
    padding: 2px 16px 4px;
}

.container-load-more-button {
    margin-top: 24px;
}

/* dialog */

.pokemon-overlay {
    background-color: var(--color-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--color-light);
    border-radius: var(--border-radius-big);
}

.overlay-header {
    padding: 8px 24px;
    width: 100%;
}

.overlay-header > span {
    font-size: 20px;
}

.pokemon-overlay > section {
    width: 100%;
}

.pokemon-overlay > section > img {
    margin: 16px 0;
}

.pokemon-overlay > section > div {
    display: flex;
    justify-content: space-between;
    padding: 8px 24px;
}

@media screen and (max-width: 768px) {
    header > div > label {
        display: none;
    }
}