input {
    background-color: var(--color-dark);
    border: 1px solid var(--color-light);
    border-radius: var(--border-radius-small);
    padding: 8px;
    width: 100px;
}

button {
    background-color: var(--color-light);
    border: none;
    border-radius: var(--border-radius-small);
    cursor: pointer;
}

.btn-search {
    padding: 0 8px;
}

.btn-load-more {
    color: var(--color-dark);
    font-size: 16px;
    font-weight: 500;
    margin-top: 24px;
    padding: 8px 16px;
    width: fit-content;
}

/* focus and hover */

:focus-visible {
    outline: none;
}

a:hover,
a:focus-visible,
button:hover, 
button:focus-visible,
.pokemon-card:hover,
.pokemon-card:focus-visible {
    filter: drop-shadow(var(--shadow)); 
}

a:active,
button:active,
.pokemon-card:active {
    filter: drop-shadow(var(--shadow-big)); 
}