input {
    text-align: center;
    background-color: var(--color-dark);
    border: 1px solid var(--color-light);
    border-radius: var(--border-radius-small);
    padding: 8px 0 8px 8px;
    
}

.input-loading-amount {
    width: 60px;
}

.input-search {
    width: 100px;
}

button {
    background-color: var(--color-light);
    border: none;
    border-radius: var(--border-radius-small);
    cursor: pointer;
}

.btn-reverse {
    border-radius: var(--border-radius-small-reverse);
}

.btn-icon {
    padding: 0 8px;
}

.btn-load-more {
    color: var(--color-dark);
    font-size: 16px;
    font-weight: 500;
    padding: 8px 16px;
    width: fit-content;
}

/* focus and hover */

:focus-visible {
    outline: none;
}

a:hover,
a:focus-visible,
button:hover, 
button:focus-visible,
.pokemon-card:hover,
.pokemon-card:focus-visible,
.pokemon-card > div > img:hover,
.pokemon-card > div > img:focus-visible {
    filter: drop-shadow(var(--shadow)); 
}

a:active,
button:active,
.pokemon-card:active,
.pokemon-card > div > img:active {
    filter: drop-shadow(var(--shadow-big)); 
}