/* :root {
    --normal: rgb(183, 183, 168);
    --fire: rgb(255, 96, 67);
    --water: rgb(81, 168, 255);
    --electric: rgb(255, 212, 81);
    --grass: rgb(139, 212, 110);
    --ice: rgb(102, 204, 255);
    --fighting: rgb(197, 110, 96);
    --poison: rgb(183, 110, 168);
    --ground: rgb(226, 197, 110);
    --flying: rgb(154, 168, 255);
    --psychic: rgb(255, 110, 168);
    --bug: rgb(183, 197, 67);
    --rock: rgb(197, 183, 125);
    --ghost: rgb(125, 125, 197);
    --dragon: rgb(139, 125, 241);
    --dark: rgb(139, 110, 96);
    --steel: rgb(183, 183, 197);
    --fairy: rgb(241, 168, 241);
} */

/* 
.normal-grass {
    background: linear-gradient(to right top, var(--normal) 0 40%, var(--grass) 60% 100%);
}

.normal {
    background-color: var(--normal);
}

.fire {
    background-color: var(--fire);
}

.water {
    background-color: var(--water);
}

.electric {
    background-color: var(--electric);
}

.grass {
    background-color: var(--grass);
}

.ice {
    background-color: var(--ice);
}

.fighting {
    background-color: var(--fighting);
}

.poison {
    background-color: var(--poison);
}

.ground {
    background-color: var(--ground);
}

.flying {
    background-color: var(--flying);
}

.psychic {
    background-color: var(--psychic);
}

.bug {
    background-color: var(--bug);
}

.rock {
    background-color: var(--rock);
}

.ghost {
    background-color: var(--ghost);
}

.dragon {
    background-color: var(--dragon);
}

.dark {
    background-color: var(--dark);
}

.steel {
    background-color: var(--steel);
}

.fairy {
    background-color: var(--fairy);
}
 */
