:root {
    --color-dark: rgb(0, 6, 1);
    --color-light: rgb(212, 237, 119);
    --color-font: rgba(255, 255, 255, 1);
    --shadow: 0px 0px 8px var(--color-light);
    --shadow-big: 0px 0px 12px var(--color-light);
    --border-radius-small: 4px 24px;
    --border-radius-small-reverse: 24px 4px;
    --border-radius-big: 8px 48px;
    /* --dialog-spacing: 98%; */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.wrapper {
  padding: 0 max(5%, calc((100% - 1440px) / 2));
}

.d-none {
  display: none;
}